.loader_loader__ckWri {
  font-family: var(--font-base);
  font-size: 2rem;
  letter-spacing: -0.05em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background: #101010;
  color: #ffd600;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .loader_loader__ckWri {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .loader_loader__ckWri {
    font-size: 3.8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .loader_loader__ckWri {
    font-size: 7.2rem;
  }
}
.loader_loader__ckWri .loader_lottie__euaH7 {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader_loader__ckWri .loader_lottie__euaH7 svg {
  width: 5rem !important;
  height: 5rem !important;
  fill: #ffd600;
}
.loader_loader__ckWri .loader_lottie__euaH7 svg * {
  fill: #ffd600;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__ckWri .loader_lottie__euaH7 svg {
    width: 13rem !important;
    height: 13rem !important;
  }
}
svg .loader_loader__logowrapper__qrTvX {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.loader_loader__logo__Amk1u {
  width: 230%;
  margin-left: -65%;
  color: #ffd600;
  flex-shrink: 0;
  opacity: 0;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__logo__Amk1u {
    width: 110%;
    margin-left: -5%;
  }
}
.loader_loader__bar--left__9LUJU {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__bar--left__9LUJU {
    top: 50px;
    left: 50px;
  }
}
.loader_loader__bar--center__hMBcW {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 150px;
  height: 18px;
  transform: translateX(-50%);
  overflow: hidden;
  display: flex;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__bar--center__hMBcW {
    width: 300px;
    height: 36px;
  }
}
.loader_loader__bar--center__hMBcW span:first-child {
  width: 9px;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: currentColor;
  margin-right: -0.5px;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__bar--center__hMBcW span:first-child {
    width: 18px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
}
.loader_loader__bar--center__hMBcW span:nth-child(2) {
  width: 132px;
  height: 100%;
  background: currentColor;
  border-radius: 0;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__bar--center__hMBcW span:nth-child(2) {
    width: 264px;
  }
}
.loader_loader__bar--center__hMBcW span:last-child {
  width: 9px;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: currentColor;
  margin-left: -0.5px;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__bar--center__hMBcW span:last-child {
    width: 18px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .loader_loader__bar--center__hMBcW {
    top: 50px;
  }
}
.loader_loader__bar--right__jmz48 {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__bar--right__jmz48 {
    bottom: 50px;
    right: 50px;
  }
}
.loader_loader__grid__TxMAR {
  position: absolute;
  bottom: 3rem;
  right: 8.3rem;
  height: 1.8rem;
}
@media only screen and (min-width: 1024px) {
  .loader_loader__grid__TxMAR {
    bottom: 5rem;
    right: 35rem;
    height: 3.6rem;
  }
}
.BaseText_text__NQtdW {
  z-index: 2;
}
.Layout_center__jZJ33 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Layout_full__B2gVl {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.layout_root__YVx4F {
  --main-color: red;
}
.HeaderButton_button__QcGH0 {
  font-family: var(--font-base);
  font-size: 1rem;
  letter-spacing: -0.06em;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  width: 109px;
  height: 36px;
  color: currentColor;
  border-radius: 20px;
  display: none;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .HeaderButton_button__QcGH0 {
    font-size: 1.2rem;
    letter-spacing: -0.05em;
  }
}
@media only screen and (min-width: 1200px) {
  .HeaderButton_button__QcGH0 {
    font-size: 1.4rem;
  }
}
.HeaderButton_button__QcGH0 * {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .HeaderButton_button__QcGH0,
  .HeaderButton_button__QcGH0 * {
    display: flex;
  }
}
.HeaderButton_button__QcGH0.HeaderButton_theme--brand__nYrg8 {
  border: 3px solid #ffd600;
}
.HeaderButton_button__QcGH0.HeaderButton_theme--brand__nYrg8:before {
  background: #ffd600;
}
.HeaderButton_button__QcGH0.HeaderButton_theme--black__dMI5e {
  border: 2px solid #ffd600;
}
.HeaderButton_button__QcGH0.HeaderButton_theme--black__dMI5e:before {
  background: #ffd600;
}
.HeaderButton_button__QcGH0.HeaderButton_theme--detail__DBEwD {
  border: 3px solid var(--tertiary);
}
.HeaderButton_button__QcGH0.HeaderButton_theme--detail__DBEwD:before {
  background: var(--tertiary);
}
.HeaderButton_button__QcGH0.HeaderButton_theme--custom404__WKYSb {
  border: 2px solid var(--primary);
}
.HeaderButton_button__QcGH0.HeaderButton_theme--custom404__WKYSb:before {
  background: var(--primary);
}
.HeaderButton_button__QcGH0:before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  transform: scaleY(0);
  transition: transform 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: top;
}
.HeaderButton_button__QcGH0.HeaderButton_hidden__UJdtw:before {
  display: none;
}
.HeaderButton_button__QcGH0 a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  transition: color 0.45s cubic-bezier(0.215, 0.61, 0.355, 1),
    border-color 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.HeaderButton_button__QcGH0 a p {
  display: none;
  opacity: 0;
}
@media only screen and (min-width: 768px) {
  .HeaderButton_button__QcGH0 a p {
    display: block;
    opacity: 1;
  }
}
.HeaderButton_button__QcGH0.HeaderButton_active__DTFW2.HeaderButton_theme--brand__nYrg8,
.HeaderButton_button__QcGH0:hover.HeaderButton_theme--brand__nYrg8 {
  color: #101010;
}
.HeaderButton_button__QcGH0.HeaderButton_active__DTFW2.HeaderButton_theme--brand__nYrg8:before,
.HeaderButton_button__QcGH0:hover.HeaderButton_theme--brand__nYrg8:before {
  transform: none;
  transform-origin: bottom;
}
.HeaderButton_button__QcGH0.HeaderButton_active__DTFW2.HeaderButton_theme--black__dMI5e,
.HeaderButton_button__QcGH0:hover.HeaderButton_theme--black__dMI5e {
  color: #101010;
}
.HeaderButton_button__QcGH0.HeaderButton_active__DTFW2.HeaderButton_theme--black__dMI5e:before,
.HeaderButton_button__QcGH0:hover.HeaderButton_theme--black__dMI5e:before {
  transform: none;
  transform-origin: bottom;
}
.HeaderButton_button__QcGH0.HeaderButton_active__DTFW2.HeaderButton_theme--detail__DBEwD,
.HeaderButton_button__QcGH0:hover.HeaderButton_theme--detail__DBEwD {
  color: var(--primary);
}
.HeaderButton_button__QcGH0.HeaderButton_active__DTFW2.HeaderButton_theme--detail__DBEwD:before,
.HeaderButton_button__QcGH0:hover.HeaderButton_theme--detail__DBEwD:before {
  transform: none;
  transform-origin: bottom;
}
.HeaderButton_button__QcGH0.HeaderButton_active__DTFW2.HeaderButton_theme--custom404__WKYSb,
.HeaderButton_button__QcGH0:hover.HeaderButton_theme--custom404__WKYSb {
  color: var(--secondary);
}
.HeaderButton_button__QcGH0.HeaderButton_active__DTFW2.HeaderButton_theme--custom404__WKYSb:before,
.HeaderButton_button__QcGH0:hover.HeaderButton_theme--custom404__WKYSb:before {
  transform: none;
  transform-origin: bottom;
}
.HeaderButton_hit__If1N3 {
  width: 150%;
  height: 300%;
  pointer-events: all;
  z-index: 100;
}
.HeaderButton_hide__DkMWV {
  display: none;
}
@media only screen and (min-width: 768px) {
  .HeaderButton_hide__DkMWV {
    display: block;
    opacity: 0;
    pointer-events: none;
  }
}
@media only screen and (min-width: 1024px) {
  .HeaderButton_hide__DkMWV {
    display: block;
    opacity: 0;
  }
}
.Logo_logo___yD0t {
  fill: none;
  width: 2.2rem;
  height: 2.2rem;
}
.Logo_logo___yD0t defs + g * {
  fill: currentColor;
  stroke: currentColor;
}
@media only screen and (min-width: 1024px) {
  .Logo_logo___yD0t {
    width: 3.6rem;
    height: 3.6rem;
  }
}
.Earth_earth__RSijX {
  width: 5rem;
  height: 2.2rem;
}
.Earth_earth__RSijX > div {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  .Earth_earth__RSijX {
    width: 8.3rem;
    height: 3.6rem;
  }
}
.Earth_earth__RSijX * {
  fill: currentColor !important;
  stroke: 1px currentColor !important;
}
.Dna_dna__rw60U {
  width: 5.2rem;
  height: 2.2rem;
}
@media only screen and (min-width: 1024px) {
  .Dna_dna__rw60U {
    width: 8.4rem;
    height: 3.6rem;
  }
}
.Dna_dna__rw60U * {
  fill: currentColor !important;
  stroke: currentColor !important;
  width: 5.2rem;
  height: 2.2rem;
}
@media only screen and (min-width: 1024px) {
  .Dna_dna__rw60U * {
    width: 8.4rem;
    height: 3.6rem;
  }
}
.Square_square__5g5pF {
  width: 3.6rem;
  height: 3.6rem;
  background: currentColor;
}
.Square_square__5g5pF * {
  fill: currentColor !important;
}
.Dot_dot__mxyuD {
  width: 13.2rem;
  height: 13.2rem;
  background: currentColor;
}
.Dot_dot__mxyuD * {
  fill: currentColor !important;
}
.Dot_dot__mxyuD {
  background: none;
}
.Grid_grid__MvIO6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.4rem;
  height: 1.8rem;
}
@media only screen and (min-width: 1024px) {
  .Grid_grid__MvIO6 {
    width: 14.7rem;
    height: 3.6rem;
  }
}
.Grid_grid__MvIO6 * {
  fill: currentColor;
}
.Bar_bar__uPfYc {
  background: currentColor;
  border-radius: 2rem;
}
.Bar_bar--vertical__09YwZ {
  width: 1.8rem;
  height: 14.9rem;
}
@media only screen and (min-width: 1024px) {
  .Bar_bar--vertical__09YwZ {
    width: 3.6rem;
    height: 10.9rem;
  }
}
.Bar_bar--horizontal__yPtgT {
  width: 14.9rem;
  height: 1.8rem;
}
@media only screen and (min-width: 1024px) {
  .Bar_bar--horizontal__yPtgT {
    height: 3.6rem;
    width: 29.9rem;
  }
}
.Bar_bar--circular__gTapi {
  width: 1.8rem;
  height: 1.8rem;
}
@media only screen and (min-width: 1024px) {
  .Bar_bar--circular__gTapi {
    width: 3.6rem;
    height: 3.6rem;
  }
}
.Infinity_infinity__fcISp {
  width: 4.8rem;
  height: 2.2rem;
}
@media only screen and (min-width: 1024px) {
  .Infinity_infinity__fcISp {
    width: 8.4rem;
    height: 3.6rem;
  }
}
.Infinity_infinity__fcISp path {
  fill: currentColor;
}
.Arrow_arrow__gwVzr {
  width: 2.1rem;
  height: 2.1rem;
  stroke: currentColor;
}
.Arrow_arrow__gwVzr > div {
  display: flex;
  width: 100%;
  height: 100%;
}
.Arrow_arrow__gwVzr * {
  fill: currentColor !important;
  stroke: currentColor !important;
}
@media only screen and (min-width: 1024px) {
  .Arrow_arrow__gwVzr {
    width: 3.6rem;
    height: 3.6rem;
  }
  .Arrow_arrow__gwVzr > * {
    stroke-width: 3.7px;
  }
}
.BaseImage_image--inner__H8MRN {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.BaseImage_image__mKOUX img {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.BaseImage_box__wm_0w {
  display: block;
  width: 100%;
  height: 100%;
}
.ArrowUp_arrow__TDHPZ {
  width: 2.1rem;
  height: 2.1rem;
  stroke: currentColor;
}
.ArrowUp_arrow__TDHPZ > div {
  display: flex;
  width: 100%;
  height: 100%;
}
.ArrowUp_arrow__TDHPZ * {
  fill: currentColor !important;
  stroke: currentColor !important;
}
@media only screen and (min-width: 1024px) {
  .ArrowUp_arrow__TDHPZ {
    width: 3.6rem;
    height: 3.6rem;
  }
  .ArrowUp_arrow__TDHPZ > * {
    stroke-width: 3.7px;
  }
}
.Spotify_spotify__KvdhY {
  width: 3.6rem;
  height: 3.6rem;
}
.Spotify_spotify__KvdhY path {
  fill: currentColor;
}
.Footer_footer__Dhw_9 {
  position: absolute;
  bottom: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
@media only screen and (min-width: 1024px) {
  .Footer_footer__Dhw_9 {
    padding: 0 5rem;
  }
}
.Footer_footer--links__VB_q5 {
  display: flex;
  gap: 0.5rem;
}
.Footer_footer--link__UM1kK {
  display: flex;
  position: relative;
  gap: 1.5rem;
  padding: 0.7rem 0.6rem;
}
@media only screen and (min-width: 1024px) {
  .Footer_footer--link__UM1kK {
    gap: 2.5rem;
    padding: 1rem;
  }
}
.Footer_footer--link__UM1kK .Footer_link--text__pnXhe {
  font-family: var(--font-base);
  font-size: 1rem;
  letter-spacing: -0.06em;
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .Footer_footer--link__UM1kK .Footer_link--text__pnXhe {
    font-size: 1.2rem;
    letter-spacing: -0.05em;
  }
}
@media only screen and (min-width: 1200px) {
  .Footer_footer--link__UM1kK .Footer_link--text__pnXhe {
    font-size: 1.4rem;
  }
}
.Footer_footer--link__UM1kK .Footer_link--bg__f4j9S {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 25rem;
}
.Footer_footer--link__UM1kK .Footer_link--icon__z558s {
  width: 1rem;
  height: 1rem;
  position: relative;
  z-index: 2;
  margin-top: 2px;
}
@media only screen and (min-width: 1024px) {
  .Footer_footer--link__UM1kK .Footer_link--icon__z558s {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.Footer_footer--link__UM1kK .Footer_link--icon__z558s * {
  position: relative;
  width: 1rem;
  height: 1rem;
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .Footer_footer--link__UM1kK .Footer_link--icon__z558s * {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.Footer_footer--menu__3RVDU .Footer_link--bg__f4j9S {
  background-color: #ffd600 !important;
}
.Footer_footer--menu__3RVDU .Footer_link--text__pnXhe {
  color: #101010;
}
.Footer_footer--menu__3RVDU .Footer_link--icon__z558s {
  color: #101010;
  width: 1rem;
  height: 1rem;
  position: relative;
  z-index: 9000;
  transform: rotate(-135deg);
}
.Footer_footer--menu__3RVDU .Footer_link--icon__z558s * {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .Footer_footer--menu__3RVDU .Footer_link--icon__z558s * {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.Header_header__Z8PUO {
  position: fixed;
  width: 100%;
  height: 7.5rem;
  transition: color 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 999999;
  pointer-events: none;
}
.Header_header__Z8PUO a,
.Header_header__Z8PUO a > *,
.Header_header__Z8PUO button,
.Header_header__Z8PUO button > * {
  pointer-events: auto;
}
@media only screen and (min-width: 1024px) {
  .Header_header__Z8PUO {
    height: 13rem;
  }
}
.Header_header__Z8PUO a {
  color: currentColor;
  transition: color 0.3s ease-out;
}
.Header_header__Z8PUO a:nth-child(2) > div {
  margin-left: auto;
}
.Header_header__Z8PUO:hover .Header_header__inner___BuCB {
  transform: none !important;
}
.Header_header--arrow__18t_4 {
  transform: rotate(90deg);
  color: currentColor;
}
.Header_header--arrow__18t_4:hover {
  color: var(--primary);
}
.Header_header__inner___BuCB {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5rem;
  height: 7.5rem;
  transition: transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media only screen and (min-width: 1024px) {
  .Header_header__inner___BuCB {
    margin: 0 5rem;
    height: 13rem;
  }
}
.Header_header__inner--icons__QOcBE {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Header_header__inner--icons--projects__MAE2f {
  width: 100vw;
}
.Header_header__Z8PUO.Header_open__S_ovN.Header_theme--difference__otEne {
  mix-blend-mode: unset;
}
.Header_header__Z8PUO.Header_theme--difference__otEne {
  mix-blend-mode: difference;
}
.Header_header__Z8PUO.Header_theme--brand__vURvT {
  color: #ffd600;
}
.Header_header__Z8PUO.Header_theme--brand__vURvT
  .Header_header__menu--line__mD3Ih {
  background: #101010;
}
.Header_header__Z8PUO.Header_theme--black__Nhd15 {
  color: #ffd600;
}
.Header_header__Z8PUO.Header_theme--black__Nhd15
  .Header_header__menu--line__mD3Ih {
  background: #101010;
}
.Header_header__Z8PUO.Header_theme--detail__XK1A9 {
  color: var(--tertiary);
}
.Header_header__Z8PUO.Header_theme--detail__XK1A9
  .Header_header__menu--line__mD3Ih {
  background: var(--primary);
}
.Header_header__Z8PUO.Header_theme--custom404__OoSoq {
  color: var(--secondary);
}
.Header_header__Z8PUO.Header_theme--custom404__OoSoq
  .Header_header__menu--line__mD3Ih {
  background: #fff;
}
.Header_header__logo__4UCu_,
.Header_header__logofull__H4LVE {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  transform-origin: 1.8rem;
  z-index: 2;
}
.Header_header__logo__4UCu_ a,
.Header_header__logofull__H4LVE a {
  pointer-events: all;
}
.Header_header__logofull__H4LVE {
  color: #ffd600;
}
.Header_header__logofull__H4LVE svg {
  color: #ffd600;
  width: 12.3rem;
  height: 2.2rem;
}
.Header_header__icon__en5cF {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Header_header__icon--projects__wHQba {
  position: absolute;
  left: 2.1rem;
  transform: translateX(0);
  margin-left: 1.5rem;
  justify-content: flex-start;
}
@media only screen and (min-width: 1024px) {
  .Header_header__icon--projects__wHQba {
    left: 7.2rem;
    margin-left: 3.9rem;
  }
}
.Header_header__icon--client__NJeq4 {
  width: 22px;
  height: 22px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: currentColor;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 1024px) {
  .Header_header__icon--client__NJeq4 {
    width: 41px;
    height: 41px;
  }
}
.Header_header__links__lD4Th {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  width: 33.33%;
  flex-shrink: 0;
}
.Header_header__links__lD4Th button {
  z-index: 999;
}
.Header_header__links__lD4Th button:hover a {
  color: var(--primary);
}
.Header_header__menu__RCjsS {
  display: block;
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
}
.Header_header__menu__RCjsS.Header_open__S_ovN {
  transform: scale(2);
  pointer-events: auto;
}
.Header_header__menu__RCjsS.Header_open__S_ovN
  .Header_header__menu--circle__OSlSs {
  background: #ffd600;
  border: 3px solid #ffd600;
}
.Header_header__menu__RCjsS.Header_open__S_ovN
  .Header_header__menu--lines__fEtXH {
  color: #101010;
  height: 4px;
}
.Header_header__menu__RCjsS.Header_open__S_ovN
  .Header_header__menu--line__mD3Ih {
  height: 1px;
  background: #101010;
}
.Header_header__menu__RCjsS.Header_open__S_ovN
  .Header_header__menu--line__mD3Ih:first-child {
  transform: translateY(calc(100% + 0.5px)) rotate(45deg);
}
.Header_header__menu__RCjsS.Header_open__S_ovN
  .Header_header__menu--line__mD3Ih:last-child {
  transform: translateY(calc(-100% - 0.5px)) rotate(-45deg);
}
.Header_header__menu--circle__OSlSs {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: currentColor;
}
.Header_header__menu--lines__fEtXH {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
}
.Header_header__menu--line__mD3Ih {
  width: 100%;
  height: 2px;
}
.Header_header__overlay__Rd9An {
  position: fixed;
  top: 0;
  left: 0;
  color: #ffd600;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  z-index: -1;
  -webkit-clip-path: inset(10% 10% 10% 10%);
  clip-path: inset(10% 10% 10% 10%);
  transition: opacity 0.35s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-clip-path 2.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: clip-path 2.75s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: clip-path 2.75s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.35s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-clip-path 2.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.Header_header__overlay__Rd9An.Header_open__S_ovN {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  transition: -webkit-clip-path 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: clip-path 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: clip-path 0.65s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-clip-path 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Header_header__overlay__Rd9An.Header_open__S_ovN .Header_inner__tfr0u {
  transform: scale(1);
}
.Header_header__overlay__Rd9An .Header_inner__tfr0u {
  width: 100%;
  height: 100%;
  background: #101010;
  transform: scale(1.1);
  transition: transform 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Header_header__overlay__Rd9An.Header_closed__tYXwV {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.Header_header__overlay--img__T56va {
  position: absolute;
  inset: 0 0 0 0;
}
.Header_header__overlay--links__V0CWq {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3rem;
  gap: 2rem;
  padding-top: 14.5rem;
  z-index: 2;
}
.Header_header__overlay--link__LaHLJ {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.11;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  display: flex;
  gap: 0.5rem;
}
@media only screen and (min-width: 1200px) {
  .Header_header__overlay--link__LaHLJ {
    font-size: 2.6rem;
  }
}
.Header_header__overlay--link__LaHLJ svg {
  width: 0.75rem;
  height: 0.75rem;
  transform: translateY(-0.3rem);
  align-self: flex-end;
}
.Header_header__overlay--footer__WYZBv {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 3rem 3rem;
  display: flex;
  justify-content: space-between;
}
.RotateDevice_rotate__izM6a {
  font-family: var(--font-base);
  font-size: 2rem;
  letter-spacing: -0.05em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background: #ffd600;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media only screen and (min-width: 768px) {
  .RotateDevice_rotate__izM6a {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .RotateDevice_rotate__izM6a {
    font-size: 3.8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .RotateDevice_rotate__izM6a {
    font-size: 7.2rem;
  }
}
.RotateDevice_rotate__izM6a svg {
  width: 3.6rem;
  height: 3.6rem;
}
.CookieBanner_cookieBanner__keril {
  background: #101010;
  color: #ffd600;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 2.5rem 5rem;
  z-index: 99999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  opacity: 0;
}
.CookieBanner_cookieBanner__keril p {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-family: var(--font-base);
}
.CookieBanner_cookieBanner__buttons__fqSvz {
  text-align: right;
  width: 220px;
  display: flex;
  gap: 8px;
}
.CookieBanner_cookieBanner__buttons__fqSvz button {
  background: #101010;
  font-size: 1.1rem;
  color: #ffd600;
  padding: 10px 15px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  border-radius: 20px;
  border: 3px solid #ffd600;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.CookieBanner_cookieBanner__buttons__fqSvz button:hover {
  color: #101010;
  background-color: #ffd600;
}
.CookieBanner_cookieBanner__buttons__fqSvz button:active {
  transform: scale(0.85);
}
@font-face {
  font-family: __myFont_2f1432;
  src: url(/_next/static/media/aea67fc965f13342-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: __myFont_2f1432;
  src: url(/_next/static/media/41f4b5645aac5178-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: __myFont_Fallback_2f1432;
  src: local("Arial");
  ascent-override: 93.79%;
  descent-override: 28.14%;
  line-gap-override: 0%;
  size-adjust: 106.62%;
}
.__className_2f1432 {
  font-family: __myFont_2f1432, __myFont_Fallback_2f1432, Helvetica,
    ui-sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  max-height: calc(var(--vh, 1vh) * 100);
  max-width: 100vw;
  overflow: hidden;
}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: max(10px, min(12px, 1.3020833333vw));
  font-family: var(--font-base);
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: max(10px, min(12px, 0.5208333333vw));
  }
}
.page {
  min-height: calc(var(--vh, 1vh) * 100);
  padding-top: 7.5rem;
  opacity: 0;
}
@media only screen and (min-width: 1024px) {
  .page {
    padding-top: 13rem;
  }
}
main {
  position: relative;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}
main a {
  pointer-events: auto;
}
#Stage,
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  -ms-content-zooming: none;
  touch-action: none;
}
.GLA11y {
  position: absolute;
  width: 0;
  height: 100%;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
#Stage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}
#Stage * input,
#Stage * textarea {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -o-user-select: auto;
  -ms-user-select: auto;
  -webkit-tap-highlight-color: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
#Stage * input:-webkit-autofill,
#Stage * textarea:-webkit-autofill {
  box-shadow: inset 0 0 0 500px #fff;
}
#Stage br,
#Stage span {
  position: relative;
}
#Stage button {
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
#Stage a {
  text-decoration: none;
  color: currentColor;
}
#Stage ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.feature-detects {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 0;
  height: calc(var(--vh, 1vh) * 100);
  clip: rect(0 0 0 0);
}
@supports (--css: variables) and (padding: env(safe-area-inset-bottom)) {
  .feature-detects {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
}
button {
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
:focus:not(.focus-ring) {
  outline-width: 0;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
input:-webkit-autofill {
  box-shadow: inset 0 0 0 500px #fff;
}
.line {
  width: -moz-fit-content;
  width: fit-content;
}
.RenderStats .wrapper * {
  position: absolute;
}
.VideoTextures {
  display: none;
}
.lottie-container {
  position: fixed;
  z-index: -9999;
  pointer-events: none;
}
html.lenis-stopped {
  overflow: hidden;
}
html.lenis {
  overflow: auto;
  height: auto;
}
.lenis.lenis-smooth {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  scroll-behavior: auto;
  pointer-events: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
html.has-scroll-smooth .hide-on-smooth-scroll,
html:not(.has-scroll-smooth) .hide-on-native-scroll {
  display: none !important;
}
canvas {
  position: fixed !important;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbarBorder);
  border-radius: 20px;
  border: 2px solid var(--scrollbarBG);
  -webkit-transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}
